





<!-- Blog -->
<section class="fh5co-blog">
    <div class="site-container-fluid">
        <h2 class="universal-h2 universal-h2-bckg">Qiuz Masha</h2>
        <div class="blog-slider blog-inner">
            <div class="single-blog">
                <div class="single-blog__img">
                    <img src="assets/images/blog1.jpg" alt="blog image">
                </div>
                <div class="single-blog__text">
                    <h4>JavaScript(Intermediate) Quiz</h4>
                    <span>1 hr 30 min</span>
                    <p>Begin Quiz</p>
                </div>
            </div>
        </div>

        <!-- <div class="fh5co-blog">
            <form>
                <label>Question</label>
                <input>
            </form>
        </div> -->
    </div>
</section>
