
<!-- Top banner -->
<section class="fh5co-top-banner">
    <div class="top-banner__inner site-container">
        <div class="top-banner__image">
            <img src="assets/images/top-banner-author.jpg" alt="author image">
        </div>
        <div class="top-banner__text">
            <div class="top-banner__text-up">
                <span class="brand-span">Home of local talent<br>
                </span>
                <h2 class="top-banner__h2">Quizz</h2>
            </div>
            <div class="top-banner__text-down">
                <h2 class="top-banner__h2">Masha</h2>
                <span class="brand-span"><i></i></span>
            </div>
            <p>Choose the quiz you would like to do</p>
            <a href="#" class="brand-button">Read bio > </a>
        </div>
    </div>
</section>
<!-- Top banner end -->

<!-- About me -->
<section class="fh5co-about-me">
    <div class="about-me-inner site-container">
        <article class="portfolio-wrapper">
            <div class="portfolio__img">
                <img src="assets/images/about-me.jpg" class="about-me__profile" alt="about me profile picture">
            </div>
            <div class="portfolio__bottom">
                <div class="portfolio__name">
                    <span>Q</span>
                    <h2 class="universal-h2">uizz Masha</h2>
                </div>
                <p></p>
            </div>
        </article>
        <div class="about-me__text">
            <div class="about-me-slider">
                <div class="about-me-single-slide">
                    <h2 class="universal-h2 universal-h2-bckg">About us</h2>
                    <p><span>H</span> e has work appearing or forthcoming in over a dozen venues, including Buzzy Mag, The Spirit of Poe, and the British Fantasy Society journal Dark Horizons. He is also CEO of a company, specializing in custom book publishing and social media marketing services, have created a community for authors to learn and connect.He has work appearing or forthcoming in over a dozen venues, including Buzzy Mag, The Spirit of Poe, and have created a community for authors to learn and connect.</p>
                    <h4>Author</h4>
                    <p class="p-white">See me</p>
                </div>
                <div class="about-me-single-slide">
                    <h2 class="universal-h2 universal-h2-bckg">Vision</h2>
                    <p><span>H</span> e has work appearing or forthcoming in over a dozen venues, including Buzzy Mag, The Spirit of Poe, and the British Fantasy Society journal Dark Horizons. He is also CEO of a company, specializing in custom book publishing and social media marketing services, have created a community for authors to learn and connect.He has work appearing or forthcoming in over a dozen venues, including Buzzy Mag, The Spirit of Poe, and have created a community for authors to learn and connect.</p>
                    <h4>Author</h4>
                    <p class="p-white">See me</p>
                </div>
            </div>
        </div>
    </div>
    <div class="about-me-bckg"></div>
</section>
<!-- About me end -->

<!-- Books and CD -->
<section class="fh5co-books">
    <div class="site-container">
        <h2 class="universal-h2 universal-h2-bckg">Language Quizes</h2>
        <div class="books">
            <div class="single-book">
                <a href="#" class="single-book__img">
                    <img src="assets/images/books-1.jpg" alt="single book and cd">
                    <div class="single-book_download">
                        <img src="assets/images/download.svg" alt="book image">
                    </div>
                </a>
                <h4 class="single-book__title">HTML</h4>
                <span class="single-book__price">
                    <button (click)="open(demoModal)" #html>start Quiz</button>
                    <!-- <a routerLink="/html">Start Quiz</a> -->
                </span>
                <!-- star rating -->
                <div class="rating">
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                </div>
                <!-- star rating end -->
            </div>
            <div class="single-book">
                <a href="#" class="single-book__img">
                    <img src="assets/images/books-2.jpg" alt="single book and cd">
                    <div class="single-book_download">
                        <img src="assets/images/download.svg" alt="book imag]e">
                    </div>
                </a>
                <h4 class="single-book__title">CSS</h4>
                <span class="single-book__price">
                    <button (click)="open(demoModal)" #css>Start Quiz</button>
                    <!-- <a routerLink="/Css">Start Quiz</a> -->
                </span>
                <!-- star rating -->
                <div class="rating">
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                </div>
                <!-- star rating end -->
            </div>
            <div class="single-book">
                <a href="#" class="single-book__img">
                    <img src="assets/images/books-3.jpg" alt="single book and cd">
                    <div class="single-book_download">
                        <img src="assets/images/download.svg" alt="book image">
                    </div>
                </a>
                <h4 class="single-book__title">JavaScript (Basic)</h4>
                <span class="single-book__price">
                    <button (click)="open(demoModal)" #JsBasic>Start Quiz</button>

                    <!-- <a routerLink="/JsBasic">Start Quiz</a> -->
                </span>
                <!-- star rating -->
                <div class="rating">
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                </div>
                <!-- star rating end -->
            </div>
            <div class="single-book">
                <a href="#" class="single-book__img">
                    <img src="assets/images/books-4.jpg" alt="single book and cd">
                    <div class="single-book_download">
                        <img src="assets/images/download.svg" alt="book image">
                    </div>
                </a>
                <h4 class="single-book__title">JavaScript (Intermediate)</h4>
                
                <span class="single-book__price">
                    <button (click)="open(demoModal)" #JsIntermediate>Start Quiz</button>
                    <!-- <a routerLink="JsIntermediate">Start Quiz</a> -->
                </span>
                <!-- star rating -->
                <div class="rating">
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                </div>
                <!-- star rating end -->
            </div>
        </div>
        <div class="books-brand-button">
            <a href="#" class="brand-button">View more</a>
        </div>
    </div>
</section>
<!-- Books and CD end -->

<!-- Counter -->
<div class="fh5co-counter counters">
    <div class="counter-inner site-container">
        <div class="single-count">
            <span class="count" data-count="50">0</span>
            <div class="single-count__text">
                <img src="assets/images/counter-1.png" alt="counter icon">
                <p>Quizes</p>
            </div>
        </div>
        <div class="single-count">
            <span class="count" data-count="600">0</span>
            <div class="single-count__text">
                <img src="assets/images/counter-2.png" alt="counter icon">
                <p>Scores</p>
            </div>
        </div>
        <!-- <div class="single-count">
            <span class="count" data-count="2000">0</span>
            <div class="single-count__text">
                <img src="assets/images/counter-3.png" alt="counter icon">
                <p></p>
            </div>
        </div> -->
        <div class="single-count">
            <span class="count" data-count="125">0</span>
            <div class="single-count__text">
                <img src="assets/images/counter-4.png" alt="counter icon">
                <p>Certifications</p>
            </div>
        </div>
    </div>
</div>
<!-- Counter -->

<!-- modal -->
  <ng-template #demoModal let-modal>
    <div class="modal-header">
      <!-- <h4 class="modal-title" id="modal-basic-title">Profile update</h4> -->
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body" style="height: 500px;">
        <section class="fh5co-blog">
            <div class="site-container-fluid">
                <h2 class="universal-h2 universal-h2-bckg">Quizz Masha</h2>
                <div class="blog-slider blog-inner">
                    <div class="single-blog" style="padding: 0;">
                    
                        <div class="single-blog__text" style="width: 400px; height: 300px;margin-left: 30px;border-left: 1px gray;">
                            
                            <p>Please Fill in you fullname to begin the Quiz</p>
                            <br>
                            <div class="contact-form__input">
                                <input #name type="text"  class="form-control" required>
                            </div>
                            <br>
                            <div class="modal-footer">
                                <button type="button" (click)="startQuiz()"class="btn btn-outline-dark"  (click)="modal.close('Save click')" >Start Quiz</button>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
  
  </ng-template>
<!-- modal -->
<!-- Blog -->
<section class="fh5co-blog">
    <div class="site-container">
        <h2 class="universal-h2 universal-h2-bckg">Frontend Web Developer Pathway</h2>
        <div class="blog-slider blog-inner">
            <div class="single-blog">
                <div class="single-blog__img">
                    <img src="assets/images/blog1.jpg" alt="blog image">
                </div>
                <div class="single-blog__text">
                    <h4>The Journey Under the Waves</h4>
                    <span>On August 28, 2015</span>
                    <p>Quisque vel sapi nec lacus adipis cing bibendum nullam porta lites laoreet aliquam.velitest, tempus a ullamcorper et, lacinia mattis mi. Cras arcu nulla, blandit id cursus et, ultricies eu leo.</p>
                </div>
            </div>
            <div class="single-blog">
                <div class="single-blog__img">
                    <img src="assets/images/blog2.jpg" alt="blog image">
                </div>
                <div class="single-blog__text">
                    <h4>The Journey Under the Waves</h4>
                    <span>On August 28, 2015</span>
                    <p>Quisque vel sapi nec lacus adipis cing bibendum nullam porta lites laoreet aliquam.velitest, tempus a ullamcorper et, lacinia mattis mi. Cras arcu nulla, blandit id cursus et, ultricies eu leo.</p>
                </div>
            </div>
            <div class="single-blog">
                <div class="single-blog__img">
                    <img src="assets/images/blog2.jpg" alt="blog image">
                </div>
                <div class="single-blog__text">
                    <h4>The Journey Under the Waves</h4>
                    <span>On August 28, 2015</span>
                    <p>Quisque vel sapi nec lacus adipis cing bibendum nullam porta lites laoreet aliquam.velitest, tempus a ullamcorper et, lacinia mattis mi. Cras arcu nulla, blandit id cursus et, ultricies eu leo.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog end -->

<!-- Quotes -->
<section class="fh5co-quotes">
    <div class="site-container">
        <div class="about-me-slider">
            <div>
                <h2 class="universal-h2 universal-h2-bckg">What People Are Saying</h2>
                <p>“Pudding croissant cake candy canes fruitcake sweet roll pastry gummies sugar plum. Tart pastry danish soufflé donut bear claw chocolate cake marshmallow chupa chups. Jelly danish gummi bears cake donut powder chocolate cake. Bonbon soufflé lollipop biscuit dragée jelly-o. Wafer pastry pudding tiramisu chocolate bar croissant cake. Pie caramels gummies danish.”</p>
                <img src="assets/images/quotes.svg" alt="quotes svg">
                <h4>David Dixon</h4>
                <p>Reader</p>
            </div>
            <div>
                <h2 class="universal-h2 universal-h2-bckg">What People Are Saying 2</h2>
                <p>“Pudding croissant cake candy canes fruitcake sweet roll pastry gummies sugar plum. Tart pastry danish soufflé donut bear claw chocolate cake marshmallow chupa chups. Jelly danish gummi bears cake donut powder chocolate cake. Bonbon soufflé lollipop biscuit dragée jelly-o. Wafer pastry pudding tiramisu chocolate bar croissant cake. Pie caramels gummies danish.”</p>
                <img src="assets/images/quotes.svg" alt="quotes svg">
                <h4>David Dixon</h4>
                <p>Reader</p>
            </div>
        </div>
    </div>
</section>
<!-- Quotes end -->

<!-- Social -->
<section class="fh5co-social">
    <div class="site-container">
        <div class="social">
            <h5>Follow me!!</h5>
            <div class="social-icons">
                <a href="#" target="_blank"><img src="assets/images/social-twitter.png" alt="social icon"></a>
                <a href="#" target="_blank"><img src="assets/images/social-pinterest.png" alt="social icon"></a>
                <a href="#" target="_blank"><img src="assets/images/social-youtube.png" alt="social icon"></a>
                <a href="#" target="_blank"><img src="assets/images/social-twitter.png" alt="social icon"></a>
            </div>
            <h5>Share it!</h5>
        </div>
    </div>
</section>
<!-- Social -->

<!-- Footer -->
<footer class="site-footer">
    <div class="site-container">
        <div class="footer-inner">
            <div class="footer-info">
                <div class="footer-info__left">
                    <img src="assets/images/footer-img.jpg" alt="about me image">
                    <p>Read more about me</p>
                </div>
                <div class="footer-info__right">
                    <h5>Get In Touch</h5>
                    <p class="footer-phone">Phone: +254113327116</p>
                    <p>Email : wamaithaweru19@gmail.com.com</p>
                    <div class="social-icons">
                        <a href="#" target="_blank"><img src="assets/images/social-twitter.png" alt="social icon"></a>
                        <a href="#" target="_blank"><img src="assets/images/social-pinterest.png" alt="social icon"></a>
                        <a href="#" target="_blank"><img src="assets/images/social-youtube.png" alt="social icon"></a>
                        <a href="#" target="_blank"><img src="assets/images/social-twitter.png" alt="social icon"></a>
                    </div>
                </div>
            </div>
            <div class="footer-contact-form">
                <h5>Contact Form</h5>
                <form (ngSubmit)="onSubmit()" #contactForm="ngForm" class="contact-form">
                    <div class="contact-form__input">
                         <input type="text" name="name" [(ngModel)]="contacts.name" #name="" 
                            required 
                            class="form-control form-control-sm ng-untouched ng-pristine ng-valid"
                            placeholder="Name">

                           
                        
                         <input type="email" name="email" [(ngModel)]="contacts.email" 
                            required 
                            class="form-control form-control-sm ng-untouched ng-pristine ng-valid"
                            placeholder="Email">

                           
                    </div>
                    <textarea name="message" [(ngModel)]="contacts.message"  ></textarea>
                    <!-- <input type="submit" name="submit" value="Submit" class="submit-button"> -->
                    <button type="submit" class="submit-button" 
                        (click)="newHero();contactForm.reset()"
                        [disabled]="!contactForm.form.valid"
                        >Submit
                    </button>
                    {{contacts}}
                </form>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="site-container footer-bottom-inner">
            <p>© 2022 Author | Design by betty Weru | All rights Reserved.</p>
            <div class="footer-bottom__img">
                <img src="assets/images/footer-mastercard.png" alt="footer image">
                <img src="assets/images/footer-paypal.png" alt="footer image">
                <img src="assets/images/footer-visa.png" alt="footer image">
                <img src="assets/images/footer-fedex.png" alt="footer image">
                <img src="assets/images/footer-dhl.png" alt="footer image">
            </div>
        </div>
    </div>
</footer>
<!-- Footer end -->


