
<!-- Top banner -->
<section class="fh5co-top-banner" style="padding-top:0px ;">
    <div class="top-banner__inner site-container">

<section>

  <nav>
    <ul class="menuItems">
      <li><a href='#' >Home</a></li>
      <li><a href='#tests' >Tests</a></li>
      <li><a href='#pathway' >Pathway</a></li>
      <li><a href='#'>Register</a></li>
      <li><a href='#contact'>Contact</a></li>
    </ul>
  </nav>

</section>


    </div>
</section>
<!-- Top banner end -->

<!-- About me -->
<section class="fh5co-about-me">
    <div class="about-me-inner site-container">
        <article class="portfolio-wrapper">
            <div class="portfolio__img">
                <img src="assets/images/about-me.jpg" class="about-me__profile" alt="about me profile picture">
            </div>
            <div class="portfolio__bottom">
                
                <p></p>
            </div>
        </article>
        <div class="about-me__text" id="home">
            <div class="about-me-slider">
                <div class="about-me-single-slide">
                    <div class="portfolio__name">
                        
                        <h2 class="universal-h2"><span style="font-size: 64px;color: orange;">Q</span>uizz Masha</h2>
                    </div>
                    <h5 class="p-white">Our Tests are Certified </h5>

                    <h4>Home of local talent</h4>

                    <br>
                    <div class="books-brand-button">
                        <a class="brand-button">
                            <button class="btn btn-warning">
                                Take  a Test
                            </button>
                        </a>
                    </div>
                    <br>
                    <h2 class="universal-h2 universal-h2-bckg"></h2>

                </div>
                
            </div>
        </div>
    </div>
    <div class="about-me-bckg"></div>
</section>
<!-- About me end -->

<!-- Books and CD -->
<section class="fh5co-books" id="tests">
    <div class="site-container">
        <h2 class="universal-h2 universal-h2-bckg">Language Quizes</h2>
        <div class="books">
            <div class="single-book">
                <a href="#" class="single-book__img">
                    <img src="assets/images/books-1.jpg" alt="single book and cd">
                    <div class="single-book_download">
                        <img src="assets/images/download.svg" alt="book image">
                    </div>
                </a>
                <h4 class="single-book__title">HTML</h4>
                <span class="single-book__price">
                        <a routerLink="/html">
                            <button #html (click)="quizPath()">start Quiz</button>
                        </a>

                    
                </span>
                <!-- star rating -->
                <div class="rating">
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                </div>
                <!-- star rating end -->
            </div>
            <div class="single-book">
                <a href="#" class="single-book__img">
                    <img src="assets/images/books-2.jpg" alt="single book and cd">
                    <div class="single-book_download">
                        <img src="assets/images/download.svg" alt="book imag]e">
                    </div>
                </a>
                <h4 class="single-book__title">Wordpress</h4>
                <span class="single-book__price">
                        <a routerLink="/wordpress">
                            <button #css>Start Quiz</button>
                        </a>

                    
                </span>
                <!-- star rating -->
                <div class="rating">
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                </div>
                <!-- star rating end -->
            </div>
            <div class="single-book">
                <a href="#" class="single-book__img">
                    <img src="assets/images/books-3.jpg" alt="single book and cd">
                    <div class="single-book_download">
                        <img src="assets/images/download.svg" alt="book image">
                    </div>
                </a>
                <h4 class="single-book__title">JavaScript (Basic)</h4>
                <span class="single-book__price">
                    <a routerLink="/JsBasic">
                        <button #JsBasic>Start Quiz</button>
                    </a>
                        
                   
                </span>
                <!-- star rating -->
                <div class="rating">
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                </div>
                <!-- star rating end -->
            </div>
            <div class="single-book">
                <a href="#" class="single-book__img">
                    <img src="assets/images/books-4.jpg" alt="single book and cd">
                    <div class="single-book_download">
                        <img src="assets/images/download.svg" alt="book image">
                    </div>
                </a>
                <h4 class="single-book__title">JavaScript (Intermediate)</h4>
                
                <span class="single-book__price">
                    
                        <a routerLink="/JsIntermediate">
                            <button #JsIntermediate>Start Quiz</button>
                        </a>
                        
                    
                    
                </span>
                <!-- star rating -->
                <div class="rating">
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                </div>
                <!-- star rating end -->
            </div>
        </div>
        <div class="books-brand-button">
            <a class="brand-button">
                <button (click)="saveName($event)">
                    Register
                </button>
            </a>
        </div>
    </div>
</section>
<!-- Books and CD end -->

<!-- Counter -->
<div class="fh5co-counter counters">
    <div class="counter-inner site-container">
        <div class="single-count">
            <span class="count" data-count="50">0</span>
            <div class="single-count__text">
                <img src="assets/images/counter-1.png" alt="counter icon">
                <p>Quizes</p>
            </div>
        </div>
        <div class="single-count">
            <span class="count" data-count="600">0</span>
            <div class="single-count__text">
                <img src="assets/images/counter-2.png" alt="counter icon">
                <p>Scores</p>
            </div>
        </div>
        <!-- <div class="single-count">
            <span class="count" data-count="2000">0</span>
            <div class="single-count__text">
                <img src="assets/images/counter-3.png" alt="counter icon">
                <p></p>
            </div>
        </div> -->
        <div class="single-count">
            <span class="count" data-count="125">0</span>
            <div class="single-count__text">
                <img src="assets/images/counter-4.png" alt="counter icon">
                <p>Certifications</p>
            </div>
        </div>
    </div>
</div>
<!-- Counter -->

<!-- modal -->
  <ng-template #demoModal let-modal>
    <div class="modal-header">
      <!-- <h4 class="modal-title" id="modal-basic-title">Profile update</h4> -->
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body" style="height: 500px;">
        <section class="fh5co-blog">
            <div class="site-container-fluid">
                <h2 class="universal-h2 universal-h2-bckg">Quizz Masha</h2>
                <div class="blog-slider blog-inner">
                    <div class="single-blog" style="padding: 0;">
                    
                        <div class="single-blog__text" style="width: 400px; height: 300px;margin-left: 30px;border-left: 1px gray;">
                            
                            <p>Please confirm your email address to open Quiz</p>
                            <br>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
  
  </ng-template>
<!-- modal -->
<!-- Blog -->
<section class="fh5co-blog" id="pathway">
    <div class="site-container">
        <h2 class="universal-h2 universal-h2-bckg">Frontend Web Developer Pathway</h2>
        <div class="blog-slider blog-inner">
            <div class="single-blog">
                <div class="single-blog__img">
                    <img src="assets/images/html.jpeg" style="height: 300px; width: 260px;" alt="blog image">
                </div>
                <div class="single-blog__text">
                    <h4>HTML</h4>
                    <span>On April 28, 2022</span>
                    <p>Create the structure with HTML. The first thing you have to learn is HTML, which is the standard markup language for creating web pages.</p>
                </div>
            </div>
            <div class="single-blog">
                <div class="single-blog__img">
                    <img src="assets/images/css.jpeg" style="height: 300px; width: 260px;" alt="blog image">
                </div>
                <div class="single-blog__text">
                    <h4>CSS</h4>
                    <span>On June 12, 2022</span>
                    <p>Style with CSS. The next step is to learn CSS, to set the layout of your web page with beautiful colors, fonts, and much more.</p>
                </div>
            </div>
            <div class="single-blog">
                <div class="single-blog__img">
                    <img src="assets/images/Js.jpeg" style="height: 300px; width: 260px;" alt="blog image">
                </div>
                <div class="single-blog__text">
                    <h4>JavaScript</h4>
                    <span>On August 20, 2022</span>
                    <p>Make it interactive with JavaScript. After studying HTML and CSS, you should learn JavaScript to create dynamic and interactive web pages for your users.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog end -->

<!-- Quotes -->

<!-- Quotes end -->

<!-- Social -->
<section class="fh5co-social">
    <div class="site-container">
        <div class="social">
            <h5>Follow me!!</h5>
            <div class="social-icons">
                <a href="#" target="_blank"><img src="assets/images/social-twitter.png" alt="social icon"></a>
                <a href="#" target="_blank"><img src="assets/images/social-pinterest.png" alt="social icon"></a>
                <a href="#" target="_blank"><img src="assets/images/social-youtube.png" alt="social icon"></a>
                <a href="#" target="_blank"><img src="assets/images/social-twitter.png" alt="social icon"></a>
            </div>
            <h5>Share it!</h5>
        </div>
    </div>
</section>
<!-- Social -->

<!-- Footer -->
<footer class="site-footer" id="contact">
    <div class="site-container">
        <div class="footer-inner">
            <div class="footer-info">
                <div class="footer-info__left">
                    <img src="assets/images/footer-img.jpg" alt="about me image">
                    <p>Read more about me</p>
                </div>
                <div class="footer-info__right">
                    <h5>Get In Touch</h5>
                    <p class="footer-phone">Phone: +254113327116</p>
                    <p>Email : wamaithaweru19@gmail.com.com</p>
                    <div class="social-icons">
                        <a href="#" target="_blank"><img src="assets/images/social-twitter.png" alt="social icon"></a>
                        <a href="#" target="_blank"><img src="assets/images/social-pinterest.png" alt="social icon"></a>
                        <a href="#" target="_blank"><img src="assets/images/social-youtube.png" alt="social icon"></a>
                        <a href="#" target="_blank"><img src="assets/images/social-twitter.png" alt="social icon"></a>
                    </div>
                </div>
            </div>
            <div class="footer-contact-form">
                <h5>Contact Form</h5>
                <form (ngSubmit)="onSubmit()" #contactForm="ngForm" class="contact-form">
                    <div class="contact-form__input">
                         <input type="text" name="name" [(ngModel)]="contacts.name" #name="" 
                            required 
                            class="form-control form-control-sm ng-untouched ng-pristine ng-valid"
                            placeholder="Name">

                           
                        
                         <input type="email" name="email" [(ngModel)]="contacts.email" 
                            required 
                            class="form-control form-control-sm ng-untouched ng-pristine ng-valid"
                            placeholder="Email">

                           
                    </div>
                    <textarea name="message" [(ngModel)]="contacts.message"  ></textarea>
                    <!-- <input type="submit" name="submit" value="Submit" class="submit-button"> -->
                    <button type="submit" class="submit-button" 
                        (click)="newHero();contactForm.reset()"
                        [disabled]="!contactForm.form.valid"
                        >Submit
                    </button>
                    {{contacts}}
                </form>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="site-container footer-bottom-inner">
            <p>© 2022 Author | Design by betty Weru | All rights Reserved.</p>
            <div class="footer-bottom__img">
                <img src="assets/images/footer-mastercard.png" alt="footer image">
                <img src="assets/images/footer-paypal.png" alt="footer image">
                <img src="assets/images/footer-visa.png" alt="footer image">
                <img src="assets/images/footer-fedex.png" alt="footer image">
                <img src="assets/images/footer-dhl.png" alt="footer image">
            </div>
        </div>
    </div>
</footer>
<!-- Footer end -->


