.card{
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}
li{
    list-style-type: none;
    cursor:pointer;
    margin: 10px;

}
li .card:hover{
    border: 1px solid orange;

}
li .highlight, .highlight_stay{
    background-color:red;
}
::-moz-selection { /* Code for Firefox */
    color: red;
    background: yellow;
  }
  
  ::selection {
    color: red;
    background: yellow;
  }


ol{
    padding: 0;
}
button[disabled]{
    color: aliceblue;
    border: 1px white;
}
.green {
    color: green;
}

.red {
    color: red;
}
